<p><%= @user.name %>,</p>

<h4>Let the adventure begin!</h4>

<p>PeerGear's Chief Adventure Adventure Officer here. I would like to personally welcome you to our family of sports enthusiasts and thank you for joining. I am sure that you will enjoy being a part of this community, and save some cash or monetize your underutilized sports equipment with our website!</p>

<h4>Complete your registration</h4>
<p>Let us know aren't a robot by clicking on the link below</p>

<p>[INSERT LINK HERE]</p>

