<h2>About PeerGear</h2>

<p>We here at PeerGear want you to have a good time outside adventuring with your friends. To make things easy for you we created a gear sharing platform to facilitate short term access to sports equipment all over the world.</p>

<p>If you own gear and don’t use it all the time, sharing is a great way to make easy money by lending out the gear you already have. We believe that too much quality gear is sitting idle in closets and garages, when it should be outside being enjoyed. For your piece of mind, all transactions are protected by a security deposit.</p>

<p>If you want to rent gear to use at your holiday destination then PeerGear provides you access to local gear at attractive prices without the hassle and cost of carrying sports equipment with you.</p>

<p>Rent gear.</p>
<p>Save cash.</p>
<p><strong>Start your adventure!</strong></p>

Ultimately, PeerGear wants to help you get outside more often, try new activities and have great adventures.