<h2>Contact Us</h2>
<p>Get in touch with us! We'd love to hear your comments and feedback.</p> 

<p><strong>Email:</strong> contact@peergear.io</p>
<p><strong>Facebook:</strong> facebook.com/peergear</p>
<p><strong>Twitter:</strong> twitter.com/peer_gear</p>

