<p>Hi username,</p>

<p>Thanks for booking with PeerGear!</p>

<p>You requested to borrow an item from user.</p>

<p>The details of your reservation can be found here: 

	Enjoy your rental, and all the best with your adventure!