

@import "bootstrap";

.navbar .navbar-default .navbar-static-top {
  background-color: rgba(0, 0, 0, 0.1);
}

.jumbotron {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

body {
  background-color: #ecf0f1;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif; 
  padding-bottom: 70px;
}

// .navbar-default {
//   background-color: #bdc3c7;
// }

.navbar-default .navbar-nav > li > a {
  font-family: 'Avenir Next Light', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #0192B5;
}

.container {
  background-color: #FFF;
}

.center {
  text-align: center;
}

.col-md-3:nth-child(4n+1) {
  clear: left;
}

.col-md-6 {
  h3 {
    font-size: 45px;
  }
  h5 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
}

.jumbotron {
  background-image: url('https://s3-us-west-1.amazonaws.com/peergear/site-images/jumbo.jpg');
  background-position:50% 50%;
  background-size:cover; 
  height: 600px;
  margin-left: 0 !important;
  width: 100%;
  h1, h2 {
    font-family: guardian-egyptt, georgia, serif;
    color: #FFFFFF;
  }
  h2 {
    margin-top: 210px;
  }
}

img {
  max-height: 200px;
  max-width: 140px;
}

.homepage-image {
  background-image: url('https://s3-us-west-1.amazonaws.com/peergear/site-images/jumbo.jpg');
  top: 0;
  background-size:cover; 
  height: 700px;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  h1, h2 {
    font-family: "Helvetica", georgia, serif;
    color: #FFF;
  }
}

.footer {
   display: inline;
   position: static;
   bottom: 0;
   left: 0;
   width: 100%;
   text-align: center;
   // height: 60px;   /* Height of the footer */
   // background: #6cf;
}

.search_image{
    position: absolute;
    right: 2px;
    top: 13px;
}    